<div class="hero-2">
<h1>Hi <%= current_user.username %></h1>

<%= link_to "List a new Item", new_item_path, class: 'style-link' %>
<br><br>
<h3>Your Auctions:</h3>
<% if current_user.items %>
<% current_user.items.each do |item| %>
	<ul>
	<li><h3><%= link_to "#{item.name}", item_path(item), class: 'style-link' %></h3></li>
	<li><%= link_to "Edit", edit_item_path(item), class: 'style-link-2' %>
    <%= link_to 'Delete', item_path(item),
                method: :delete,
                data: { confirm: 'Are you sure?' }, class: 'style-link-2' %></li></h5><br>
	<br>
	</ul>
<% end %>
<% end %>

<% if current_user.bidded_items %>
<h3>Bidded Items</h3>
<% current_user.bidded_items.each do |item| %>
<ul>
<li><%= link_to "#{item.name}", item_path(item) %></li>
</ul>
<% end %>
<% end %>

<% if current_user.items_won %>
<h3>Won Items</h3>
<% current_user.items_won.each do |item| %>
<ul>
<li><%= link_to "#{item.name}", item_path(item) %></li>
</ul>
<% end %>
<% end %>

</div>